In [ ]:
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
!hdfs dfs -ls /user/hduser/bike_data

Found 9 items
-rw-r--r--   1 hduser supergroup          0 2024-03-14 16:03 /user/hduser/bike_data/_SUCCESS
-rw-r--r--   1 hduser supergroup    5102049 2024-03-14 16:03 /user/hduser/bike_data/part-00000-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5102988 2024-03-14 16:03 /user/hduser/bike_data/part-00001-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5102107 2024-03-14 16:03 /user/hduser/bike_data/part-00002-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5099273 2024-03-14 16:03 /user/hduser/bike_data/part-00003-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5099012 2024-03-14 16:03 /user/hduser/bike_data/part-00004-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5099230 2024-03-14 16:03 /user/hduser/bike_data/part-00005-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    5102305 2024-03-14 16:03 /user/hduser/bike_data/part-00006-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv
-rw-r--r--   1 hduser supergroup    1302249 2024-03-14 16:03 /user/hduser/bike_data/part-00007-7182bf7f-3f3a-4343-85d0-c54c7e8f60f6-c000.csv

In [ ]:
pwd

'/home/hduser'

In [6]:
 cd Documents/CA01_Sem_02_MSc_Data_Analytics/

/home/hduser/Documents/CA01_Sem_02_MSc_Data_Analytics

In [7]:
ls

 202301-capitalbikeshare-tripdata.csv
 202302-captialbikeshare-tripdata.csv
 202303-capitalbikeshare-tripdata.csv
 202304-capitalbikeshare-tripdata.csv
 202305-capitalbikeshare-tripdata.csv
 202306-capitalbikeshare-tripdata.csv
 202307-capitalbikeshare-tripdata.csv
 202308-capitalbikeshare-tripdata.csv
 202309-capitalbikeshare-tripdata.csv
 202310-capitalbikeshare-tripdata.csv
 202311-capitalbikeshare-tripdata.csv
 202312-capitalbikeshare-tripdata.csv
 CNN_Eircode_Mail_Classification.ipynb
 CNN_Mail_Classification_old.ipynb
'Integrated CA1 Sem 2 MSc in Data Analytics V4.docx'
 papers/
 README.md
 rnn.ipynb
 RNN_Time_Series.ipynb
 untitled.txt

In [16]:
!hdfs dfs -mkdir /user1/bike_data
!hdfs dfs -put  *.csv /user1/bike_data/

# Create a spark Session

In [ ]:
# Create a SparkSession
spark = SparkSession.builder.appName("CA01_Sem_02").getOrCreate()

24/03/15 11:26:01 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:

# data_ingestion function: Loads all CSV files in a directory using PySpark and saves them to a specified output path on HDFS.
# Args: 
    # path: Path to the directory containing CSV files  
    # hd_path: Hadoop path on HDFS to save the processed files

def data_ingestion( path, hd_path):
    
    try:
        # Read all files in the directory matching the CSV extension (*.csv)
        df = spark.read.csv(f"{path}/*.csv", header=True)

        # Save the DataFrame to Hadoop server - HDFS
        df.write.mode("overwrite").csv(hd_path)

    except Exception as e:
        print("An error occurred:", e)

# Running the data_ingestion fucntion

In [ ]:


# path to directory where the files are
path = "file:///home/hduser/Documents/CA01_Sem_02_MSc_Data_Analytics"

# path where the files should be saved on hadoop
hd_path = "/user/hduser/bike_data"

# Call the processing function
data_ingestion(path, hd_path)

# Load data from hadoop

In [ ]:

hd_path = "/user/hduser/bike_data"
new_path = "/user1/bike_data/*.csv"
try:
   

  # Read the CSV files using the specified path
  df = spark.read.csv(new_path, header = True)

  # Print the first few rows of the DataFrame (optional)
  df.show(5)

   
except Exception as e:
    print("An error occurred:", str(e))

+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+----------------+------------------+---------+----------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|start_station_id|    end_station_name|end_station_id|       start_lat|         start_lng|  end_lat|   end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+----------------+------------------+---------+----------+-------------+
|CB181909FC05004F|electric_bike|2023-10-29 09:10:14|2023-10-29 09:25:19|11th & Clifton St NW|           31136|L'Enfant Plaza / ...|         31218|    38.922089219|     -77.027171969|38.886266|-77.022241|       member|
|77832F0C46F1B308| classic_bike|2023-10-28 12:26:17|2023-10-28 12:35:41|11th & Clifton St NW|           31136|Massachusetts Ave...|         31200|38.9223243445331|-77.02708572149277|  38.9101|  -77.0444|       member|
|777600C797581E8F| classic_bike|2023-10-01 10:18:50|2023-10-01 10:51:19|12th St & New Yor...|           31670|Massachusetts Ave...|         31200|       38.901104|        -77.028061|  38.9101|  -77.0444|       casual|
|8A8C4C384180159A| classic_bike|2023-10-05 10:40:56|2023-10-05 11:27:40|36th & Calvert St...|           31304|Massachusetts Ave...|         31200|       38.922581|        -77.070334|  38.9101|  -77.0444|       casual|
|C3CD670D215D5202| classic_bike|2023-10-23 18:30:45|2023-10-23 18:43:23|W&OD Trail/Sunset...|           32220|W&OD Trail & Expl...|         32214|       38.951443|        -77.340377|38.957037|-77.359718|       casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+----------------+------------------+---------+----------+-------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- ride_id: string (nullable = true)
 |-- rideable_type: string (nullable = true)
 |-- started_at: string (nullable = true)
 |-- ended_at: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- start_lat: string (nullable = true)
 |-- start_lng: string (nullable = true)
 |-- end_lat: string (nullable = true)
 |-- end_lng: string (nullable = true)
 |-- member_casual: string (nullable = true)

In [ ]:
print((df.count(), len(df.columns)))

(4467334, 13)